<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="commonUtils" class="com.sr.apps.freightbit.util.CommonUtils"/>

    <bean id="userAction" class="com.sr.apps.freightbit.core.action.UserAction">
        <property name="userService" ref="userService"></property>
        <property name="clientService" ref="clientService"></property>
        <property name="parameterService" ref="parameterService"></property>
    </bean>

    <bean id="customerAction" class="com.sr.apps.freightbit.customer.action.CustomerAction">
        <property name="customerService" ref="customerService"></property>
        <property name="clientService" ref="clientService"></property>
        <property name="parameterService" ref="parameterService"></property>
    </bean>

    <!--<bean id="groupAction" class="com.sr.apps.freightbit.core.action.GroupAction">-->
    <!--<property name="userService" ref="userService"></property>-->
    <!--<property name="clientService" ref="clientService"></property>-->
    <!--<property name="groupService" ref="groupService"></property>-->
    <!--</bean>-->

    <bean id="vendorAction" class="com.sr.apps.freightbit.vendor.action.VendorAction">
        <property name="vendorService" ref="vendorService"></property>
        <property name="parameterService" ref="parameterService"></property>
        <property name="clientService" ref="clientService"></property>
        <property name="commonUtils" ref="commonUtils"></property>
        <!--<property name="driverService" ref="driverService"></property>-->
    </bean>

</beans>