<?xml version="1.0" encoding="UTF-8"?>
<web-app id="struts_blank" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Struts Blank</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/conf/applicationContext.xml
            classpath:/conf/applicationContext-lib.xml
            classpath:/conf/spring-security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
    </listener>

    <context-param>
        <param-name>
            org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
        </param-name>
        <param-value>
            /WEB-INF/tiles.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>com.sr.apps.freightbit.core.listeners.Struts2ListenerOnGAE</listener-class>
    </listener>

	 <filter>  
		 <filter-name>springSecurityFilterChain</filter-name>  
		 <filter-class>  
		         org.springframework.web.filter.DelegatingFilterProxy  
		 </filter-class>  
	</filter>

	<filter-mapping>  
			<filter-name>springSecurityFilterChain</filter-name>  
		<url-pattern>/*</url-pattern>  
	</filter-mapping>  
	
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>

    <!-- error dummy -->
    <error-page>
        <error-code>500</error-code>
        <location>/deniedMofo.jsp</location>
    </error-page>

</web-app>