<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd


        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="classpath:/jdbc.properties"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.databaseurl}" p:username="${jdbc.username}" p:password="${jdbc.password}"/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
                <array>
                    <value>com.sr.biz.freightbit.core.entity</value>
                    <value>com.sr.biz.freightbit.vendor.entity</value>
                    <value>com.sr.biz.freightbit.common.entity</value>
                    <value>com.sr.biz.freightbit.customer.entity</value>
                    <value>com.sr.biz.freightbit.order.entity</value>
                    <value>com.sr.biz.freightbit.vesselSchedule.entity</value>
                    <value>com.sr.biz.freightbit.operations.entity</value>
                    <value>com.sr.biz.freightbit.documentation.entity</value>
                    <value>com.sr.biz.freightbit.common.entity</value>
                </array>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.generate_statistics">true</prop>
                <!--<prop key="hibernate.cache.use_query_cache">true</prop>-->
                <!--<prop key="hibernate.cache.use_second_level_cache">true</prop>-->
                <!-- session will be automatically flushed during the before completion phase of the transaction -->
                <prop key="hibernate.transaction.flush_before_completion">true</prop>
            </props>
        </property>
    </bean>

    <!-- Services -->
    <bean id="clientService" class="com.sr.biz.freightbit.core.service.impl.ClientServiceImpl">
        <property name="clientDao" ref="clientDao"/>
    </bean>

    <bean id="parameterService" class="com.sr.biz.freightbit.common.service.impl.ParameterServiceImpl">
        <property name="parameterDao" ref="parameterDao"/>
        <property name="vendorDao" ref="vendorDao"/>
        <property name="orderDao" ref="orderDao"/>
        <property name="customerDao" ref="customerDao"/>
        <property name="contactsDao" ref="contactsDao"/>
        <property name="addressDao" ref="addressDao"/>
    </bean>

    <bean id="userService" class="com.sr.biz.freightbit.core.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="groupUserDao" ref="groupUserDao"/>
        <property name="permissionDao" ref="permissionDao"/>
    </bean>

    <bean id="groupService" class="com.sr.biz.freightbit.core.service.impl.GroupServiceImpl">
        <property name="groupDao" ref="groupDao"/>
        <property name="groupUserDao" ref="groupUserDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="addressService" class="com.sr.biz.freightbit.vendor.service.impl.VendorServiceImpl">
        <property name="addressDao" ref="addressDao"/>
    </bean>

    <bean id="permissionService" class="com.sr.biz.freightbit.core.service.impl.PermissionServiceImpl">
        <property name="permissionDao" ref="permissionDao"/>
    </bean>
    
    <bean id="userDetailsService" class="com.sr.biz.freightbit.core.service.impl.UserDetailsServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="permissionDao" ref="permissionDao"/>
    </bean>

    <bean id="customerService" class="com.sr.biz.freightbit.customer.service.impl.CustomerServiceImpl">
        <property name="orderDao" ref="orderDao"/>
        <property name="customerDao" ref="customerDao"/>
        <property name="addressDao" ref="addressDao"/>
        <property name="ratesDao" ref="ratesDao"/>
        <property name="contactsDao" ref="contactsDao"/>
        <property name="itemsDao" ref="itemsDao"/>

    </bean>

    <bean id="vendorService" class="com.sr.biz.freightbit.vendor.service.impl.VendorServiceImpl">
        <property name="vendorDao" ref="vendorDao"/>
        <property name="contactsDao" ref="contactsDao"/>
        <property name="addressDao" ref="addressDao"/>
        <property name="trucksDao" ref="trucksDao"/>
        <property name="trailersDao" ref="trailersDao"/>
        <property name="vesselDao" ref="vesselDao"/>
        <property name="driverDao" ref="driverDao"/>
    </bean>

    <bean id="orderService" class="com.sr.biz.freightbit.order.service.impl.OrderServiceImpl">
        <property name="orderDao" ref="orderDao"/>
        <property name="orderItemsDao" ref="orderItemsDao"/>
        <property name="customerDao" ref="customerDao"/>
        <property name="contactsDao" ref="contactsDao"/>
        <property name="addressDao" ref="addressDao"/>
        <property name="itemsDao" ref="itemsDao"/>
    </bean>

    <bean id="vesselSchedulesService" class="com.sr.biz.freightbit.vesselSchedule.service.impl.VesselSchedulesServiceImpl">
        <property name="vesselSchedulesDao" ref="vesselSchedulesDao"/>
    </bean>

    <bean id="orderStatusLogsService" class="com.sr.biz.freightbit.operations.service.impl.OrderStatusLogsServiceImpl">
        <property name="orderStatusLogsDao" ref="orderStatusLogsDao"/>
    </bean>

    <bean id="operationsService" class="com.sr.biz.freightbit.operations.service.impl.OperationsServiceImpl">
        <property name="operationsDao" ref="operationsDao"/>
    </bean>

    <bean id="shipmentLogsService" class="com.sr.biz.freightbit.operations.service.impl.ShipmentLogsServiceImpl">
        <property name="shipmentLogsDao" ref="shipmentLogsDao"/>
    </bean>

    <bean id="containerService" class="com.sr.biz.freightbit.operations.service.impl.ContainerServiceImpl">
        <property name="containerDao" ref="containerDao"/>
    </bean>

    <bean id="yardLogsService" class="com.sr.biz.freightbit.operations.service.impl.YardLogsServiceImpl">
        <property name="yardLogsDao" ref="yardLogsDao"/>
    </bean>

	<bean id="consolidationService" class="com.sr.biz.freightbit.operations.service.impl.ConsolidationServiceImpl">
		<property name="consolidationDao" ref="consolidationDao"/>
	</bean>

	<!--  Documents -->
    <bean id="documentsService" class="com.sr.biz.freightbit.documentation.service.impl.DocumentsServiceImpl">
        <property name="documentsDao" ref="documentsDao"/>
    </bean>
    
    <bean id="releaseOrderReportService" class="com.sr.biz.freightbit.documentation.service.impl.ReleaseOrderReportServiceImpl"/>
    
    <bean id="bookingRequestReportService" class="com.sr.biz.freightbit.documentation.service.impl.BookingRequestReportServiceImpl"/>

    <bean id="houseBillofLadingReportService" class="com.sr.biz.freightbit.documentation.service.impl.HouseBillofLadingReportServiceImpl"/>

    <bean id="houseWayBillService" class="com.sr.biz.freightbit.documentation.service.impl.HouseWaybillServiceImpl"/>

    <bean id="houseWayBillDestinationReportService" class="com.sr.biz.freightbit.documentation.service.impl.HouseWayBillDestinationReportServiceImpl"/>

    <bean id="acceptanceReceiptReportService" class="com.sr.biz.freightbit.documentation.service.impl.AcceptanceReceiptReportServiceImpl"/>

    <bean id="authorizationToWithdrawReportService" class="com.sr.biz.freightbit.documentation.service.impl.AuthorizationToWithdrawReportServiceImpl"/>

    <bean id="equipmentInterchangeReceipt1ReportService" class="com.sr.biz.freightbit.documentation.service.impl.EquipmentInterchangeReceipt1ReportServiceImpl"/>

    <bean id="equipmentInterchangeReceipt2ReportService" class="com.sr.biz.freightbit.documentation.service.impl.EquipmentInterchangeReceipt2ReportServiceImpl"/>
    <!--for changing-->
    <bean id="proformaBillOfLadingReportService" class="com.sr.biz.freightbit.documentation.service.impl.ProformaBillOfLadingReportServiceImpl"/>
    <!--for changing-->
    <bean id="calendarService" class="com.sr.biz.freightbit.calendar.service.impl.CalendarServiceImpl">
        <property name="orderDao" ref="orderDao"/>
    </bean>
    
    <bean id="notificationService" class="com.sr.biz.freightbit.common.service.impl.NotificationServiceImpl">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="userDao" ref="userDao"/>

    </bean>
    <!-- Services End -->
    <!-- DAOs -->

    <bean id="contactsDao" class="com.sr.biz.freightbit.common.dao.impl.ContactsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="documentsDao" class="com.sr.biz.freightbit.documentation.dao.impl.DocumentsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="operationsDao" class="com.sr.biz.freightbit.operations.dao.impl.OperationsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="orderStatusLogsDao" class="com.sr.biz.freightbit.operations.dao.impl.OrderStatusLogsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="ratesDao" class="com.sr.biz.freightbit.customer.dao.impl.RateDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="itemsDao" class="com.sr.biz.freightbit.customer.dao.impl.ItemsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userDao" class="com.sr.biz.freightbit.core.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="groupDao" class="com.sr.biz.freightbit.core.dao.impl.GroupDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="groupUserDao" class="com.sr.biz.freightbit.core.dao.impl.GroupUserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="permissionDao" class="com.sr.biz.freightbit.core.dao.impl.PermissionDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="customerDao" class="com.sr.biz.freightbit.customer.dao.impl.CustomerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="clientDao" class="com.sr.biz.freightbit.core.dao.impl.ClientDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="parameterDao" class="com.sr.biz.freightbit.common.dao.impl.ParameterDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="truckService" class="com.sr.biz.freightbit.vendor.service.impl.TrucksServiceImpl">
        <property name="trucksDao" ref="trucksDao"/>
    </bean>
    <bean id="trailersDao" class="com.sr.biz.freightbit.vendor.dao.impl.TrailersDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="trucksDao" class="com.sr.biz.freightbit.vendor.dao.impl.TrucksDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="vesselDao" class="com.sr.biz.freightbit.vendor.dao.impl.VesselDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="vendorDao" class="com.sr.biz.freightbit.vendor.dao.impl.VendorDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="driverDao" class="com.sr.biz.freightbit.vendor.dao.impl.DriverDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="yardLogsDao" class="com.sr.biz.freightbit.operations.dao.impl.YardLogsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- Order Module DAO -->
    <bean id="orderDao" class="com.sr.biz.freightbit.order.dao.impl.OrderDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="orderItemsDao" class="com.sr.biz.freightbit.order.dao.impl.OrderItemsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="vesselSchedulesDao" class="com.sr.biz.freightbit.vesselSchedule.dao.impl.VesselSchedulesDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="addressDao" class="com.sr.biz.freightbit.common.dao.impl.AddressDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="notificationDao" class="com.sr.biz.freightbit.common.dao.impl.NotificationDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="shipmentLogsDao" class="com.sr.biz.freightbit.operations.dao.impl.ShipmentLogsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="containerDao" class="com.sr.biz.freightbit.operations.dao.impl.ContainerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

	<bean id="consolidationDao" class="com.sr.biz.freightbit.operations.dao.impl.ConsolidationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
    <!-- Subect for deletion -->
    <bean id="consolidationDaos" class="com.sr.biz.freightbit.operations.dao.impl.ContainerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <tx:annotation-driven/>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>
    </bean>

</beans>