/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


body {
  padding-top: 50px;
  /* background-color: #202020; */
  background: #dfe0e1;
}
.drop-span:hover{
color:black !important;
}

.sub-ho{
color:white;
}

.sub-ho:hover{
color:black !important;
}

.wwFormTable {
margin: 150 auto;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.ui-datepicker-month, .ui-datepicker-year {
color:#555 !important;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 35px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #F2F3E1; */
    /*border-right: 1px solid #eee; */
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color:white;
  font-weight:bold;
}
.activehome > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../includes/images/home-b.png);
  background-position-x: 25px;
}
.activecustomer > a{
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../includes/images/customer-b.png);
  background-position-x: 25px;
}
.activebooking > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../includes/images/booking-b.png);
  background-position-x: 25px;
}
.activevendor > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../includes/images/truck-b.png);
  background-position-x: 25px;
}
.activeaccounts > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../includes/images/account-b.png);
  background-position-x: 25px;
}


.icon-home{
background:transparent url(../includes/images/home.png) no-repeat left;
background-position-x: 25px;
color: #fff;
}
.icon-home:hover{
background:transparent url(../includes/images/home-b.png) no-repeat left !important;
background-position-x: 25px !important;
color: #000 !important;
background-color:#F1EB49 !important;
}
.icon-booking{
background:transparent url(../includes/images/booking.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-booking:hover{
background:transparent url(../includes/images/booking-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}
.icon-operation{
background:transparent url(../includes/images/operation.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-operation:hover{
background:transparent url(../includes/images/operation-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-document{
background:transparent url(../includes/images/document.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-document:hover{
background:transparent url(../includes/images/document-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-vendor{
background:transparent url(../includes/images/truck.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-vendor:hover{
background:transparent url(../includes/images/truck-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-customer{
background:transparent url(../includes/images/customer.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-customer:hover{
background:transparent url(../includes/images/customer-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-report{
background:transparent url(../includes/images/report.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-report:hover{
background:transparent url(../includes/images/report-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-finance{
background:transparent url(../includes/images/finance.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-finance:hover{
background:transparent url(../includes/images/finance-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-help{
background:transparent url(../includes/images/help.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-help:hover{
background:transparent url(../includes/images/help-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-account{
background:transparent url(../includes/images/account.png) no-repeat left;
background-position-x: 25px;
color:#fff !important;
}
.icon-account:hover{
background:transparent url(../includes/images/account-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-user{
background:transparent url(../includes/images/listofusers.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-user:hover{
background:transparent url(../includes/images/listofusers-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-group{
background:transparent url(../includes/images/groups.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-group:hover{
background:transparent url(../includes/images/groups-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-permission{
background:transparent url(../includes/images/permission.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-permission:hover{
background:transparent url(../includes/images/permission-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* CUSTOM CSS */
.icon-menu{
	color: white;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	top: 4px;
}

input#datepicker1, input#datepicker2, input#datepicker3, input#datepicker4  {
width: 85%;
padding: 6px 12px;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
color:#555;
}

.dropside-sub{
position: relative;
display: block;
padding: 10px 15px;
padding-right: 20px;
padding-left: 40px;
color: rgb(100,100,100);
font-weight: bold;
cursor:pointer;
}
.dropside-sub:hover{
text-decoration: none;
background-color: #eee;
}

.dropside{
cursor:pointer;
}

.dropside:hover{
text-decoration: none;
background-color: #eee;
}

.title-insidebox{
color:white;
position:relative;
font-size:20px;
top:2px;
}

.box-dash{
background-color:gray;
width:400px;
height:300px;
padding: 20px 0 6px 0;
border-radius:6px;
}

.icon-font{
position: relative;
top: 2px;
left:40px;
font-size:13px;
}

.box-icon{
margin-right:6px;
}

.header-box{
padding:10px;
}

.content-box{
padding:10px;
}

.main-box{
width:68%;
float:left;
margin-right:16px;
}

.sidebar-box{
width:28%;
float:left;
text-align:center;
}

.submenu-link{
text-decoration:none;
}

.submenu-link:hover{
text-decoration:none;
color: white !important;
}

.title-inside{
color:white;
}

.tb-font-black{
vertical-align: middle !important;
color:#545145 !important;

padding-left: 10px !important;
}

button.ui-datepicker-trigger {
padding: 8px 11px 5px 1px;
}

button.ui-datepicker-trigger img{
position: relative;
left: 5px;
}

#Booking-Validate_submit {
vertical-align: middle;
border: 1px solid transparent;
padding: 6px 12px;
border-radius: 4px;
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}

#Booking-Validate_submit:hover {
color:#fff;
background-color:#3276b1;
border-color:#285e8e
}

.full-box{
border:1px
background-color:gray;
padding:10px;
border-radius:6px;
float:left;
margin-right:16px;
width:100%;
text-align:center;
}

.circ-icon{
background-color:gray;
padding:6px;
margin-right:6px;
border-radius:50%;
}

.icon-action-link{
text-decoration:none !important;
}

.icon-action:hover{
background-color:rgb(83, 82, 82);
}

.paginate-icon{
margin-right:2px;
width:70px;
border-radius:6px;
}

/*-------------*/
#customer-list.table > thead:nth-child(1)
{
background-color:#f5f5f5;
}

.panel-heading{
overflow:hidden;
}

.panel-footer{
overflow:hidden;
}

.pagination{
margin:0px !important;
}

.panel-title{
position:relative;
top:2px;
}

.full-table{
width:100%;
}

.drop-span{
padding: 10px 15px;
display: block;
left: 45px;
font-weight: bold;
color: white;
text-decoration: none !important;
}

.row{
  /* background: #dfe0e1; */

}

.navbar-inverse{
  /*background-color: black;*/
  /*border-color: #080808;*/
  background: -moz-linear-gradient(top, #5d6167 0%, #393939 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d6167), color-stop(100%, #393939));
  background: -webkit-linear-gradient(top, #5d6167 0%, #393939 100%);
  background: -o-linear-gradient(top, #5d6167 0%, #393939 100%);
  background: -ms-linear-gradient(top, #5d6167 0%, #393939 100%);
}

.navbar {
  border:none !important;

}

.page-header{
  color: #888a8c;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
}

.panel-info {
border-color: #eee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
}

.panel-info>.panel-heading {
color: white;
text-shadow: 0 1px 1px #000;
border-color: #eee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
background: -moz-linear-gradient(top, #5d6167 0%, #393939 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d6167), color-stop(100%, #393939));
background: -webkit-linear-gradient(top, #5d6167 0%, #393939 100%);
background: -o-linear-gradient(top, #5d6167 0%, #393939 100%);
background: -ms-linear-gradient(top, #5d6167 0%, #393939 100%);
}

.sidebar {
  background: #414243 url(../includes/images/sidebar-gradient.png) repeat-y top right;
}

.panel {
  border-radius: 5px !important;
}

.side-help{
	font-size:12px;
	text-align: left;
	color: #000;
	padding:10px 0 !important;
}

.img-sidehelp{
	margin-bottom: 1px;
	margin-right:6px;
}

ul#css3menu1 ul{
	background-color:#424542;}
ul#css3menu1 ul{

    display: none;
    position: absolute;
    left: 100%;
    top: -4px;
    padding: 0px 0px 5px 5px;
    width: 100%;
}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;right: 3px;display:block;white-space:nowrap;font-size:0;}
ul#css3menu1 li:hover{
	z-index:1;}

ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}

ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-weight:bold;color:#FFF;cursor:pointer;padding:20px 15px;}
ul#css3menu1 ul li{
	float:none;margin:3px 0 0;}
ul#css3menu1 ul a{
	text-align:left;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;color:#FFF;text-decoration:none;}
ul#css3menu1 li:hover,ul#css3menu1 li a.pressed{
	background-color: #F1EB49;
	}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("arrowsub.png");background-position:right center;background-repeat:no-repeat;padding-right:14px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	color:#FFF;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-width:0;}
ul#css3menu1 li.subfirst>a{
	border-width:0;}

ul#css3menu1 li {
    border-top: 1px solid #4b4c4d;
    border-top-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid #353637;
    border-bottom-color: rgba(0, 0, 0, 0.18);
    background: transparent;
    color: #888a8c;
    font-weight: normal;

}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      