 /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
    background: #dfe0e1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #636363;
}

.drop-span:hover {
    color: black !important;
}

.sub-ho {
    color: white;
}

.sub-ho:hover {
    color: black !important;
}

.wwFormTable {
    margin: 150 auto;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #555 !important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

/*.dropdown-menu {
    left: 0% !important;
}*/

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 35px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #F2F3E1; */
        /*border-right: 1px solid #eee; */
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

.activehome > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/home-b.png);
    background-position-x: 25px;
}

.activecustomer > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/customer-b.png);
    background-position-x: 25px;
}

.activebooking > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/booking-b.png);
    background-position-x: 25px;
}

.activevendor > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/truck-b.png);
    background-position-x: 25px;
}

.activeaccounts > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/account-b.png);
    background-position-x: 25px;
}

.icon-home {
    background: transparent url(../includes/images/home.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-home:hover {
    background: transparent url(../includes/images/home-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-booking {
    background: transparent url(../includes/images/booking.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-booking:hover {
    background: transparent url(../includes/images/booking-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-operation {
    background: transparent url(../includes/images/operation.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-operation:hover {
    background: transparent url(../includes/images/operation-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-document {
    background: transparent url(../includes/images/document.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-document:hover {
    background: transparent url(../includes/images/document-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-vendor {
    background: transparent url(../includes/images/truck.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-vendor:hover {
    background: transparent url(../includes/images/truck-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-customer {
    background: transparent url(../includes/images/customer.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-customer:hover {
    background: transparent url(../includes/images/customer-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-report {
    background: transparent url(../includes/images/report.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-report:hover {
    background: transparent url(../includes/images/report-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-finance {
    background: transparent url(../includes/images/finance.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-finance:hover {
    background: transparent url(../includes/images/finance-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-help {
    background: transparent url(../includes/images/help.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-help:hover {
    background: transparent url(../includes/images/help-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-account {
    background: transparent url(../includes/images/account.png) no-repeat left;
    background-position-x: 25px;
    color: #fff !important;
}

.icon-account:hover {
    background: transparent url(../includes/images/account-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-user {
    background: transparent url(../includes/images/listofusers.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-user:hover {
    background: transparent url(../includes/images/listofusers-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-group {
    background: transparent url(../includes/images/groups.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-group:hover {
    background: transparent url(../includes/images/groups-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-permission {
    background: transparent url(../includes/images/permission.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-permission:hover {
    background: transparent url(../includes/images/permission-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* CUSTOM CSS */
.icon-menu {
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 4px;
}

input #datepicker1, input#datepicker2, input#datepicker3, input#datepicker4 {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555;
}

.dropside-sub {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-right: 20px;
    padding-left: 40px;
    color: rgb(100, 100, 100);
    font-weight: bold;
    cursor: pointer;
}

.dropside-sub:hover {
    text-decoration: none;
    background-color: #eee;
}

.dropside {
    cursor: pointer;
}

.dropside:hover {
    text-decoration: none;
    background-color: #eee;
}

.title-insidebox {
    color: white;
    position: relative;
    font-size: 20px;
    top: 2px;
}

.box-dash {
    background-color: gray;
    width: 400px;
    height: 300px;
    padding: 20px 0 6px 0;
    border-radius: 6px;
}

.icon-font {
    position: relative;
    top: 2px;
    left: 40px;
    font-size: 13px;
}

.box-icon {
    margin-right: 6px;
}

.header-box {
    padding: 10px;
}

.content-box {
    padding: 10px;
}

.main-box {
    width: 68%;
    float: left;
    margin-right: 16px;
}

.sidebar-box {
    width: 28%;
    float: left;
    text-align: center;
}

.submenu-link {
    text-decoration: none;
}

.submenu-link:hover {
    text-decoration: none;
    color: white !important;
}

.title-inside {
    color: white;
}

.tb-font-black {
    vertical-align: middle !important;
    color: #545145 !important;
    padding-left: 10px !important;

}

button.ui-datepicker-trigger {
    padding: 8px 11px 5px 1px;
}

button.ui-datepicker-trigger img {
    position: relative;
    left: 5px;
}

#Booking-Validate_submit {
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

#Booking-Validate_submit:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e
}

.full-box {
    border: 1px background-color : gray;
    padding: 10px;
    border-radius: 6px;
    float: left;
    margin-right: 16px;
    width: 100%;
    text-align: center;
}

.circ-icon {
    background-color: gray;
    padding: 6px;
    margin-right: 6px;
    border-radius: 50%;
}

.icon-action-link {
    text-decoration: none !important;
}

.icon-action:hover {
    background-color: rgb(83, 82, 82);
}

.paginate-icon {
    margin-right: 2px;
    width: 70px;
    border-radius: 6px;
}

/*-------------*/
#customer-list.table > thead:nth-child(1) {
    background-color: #f5f5f5;
}

.panel-heading {
    overflow: hidden;
}

.panel-footer {
    overflow: hidden;
}

.pagination {
    margin: 0px !important;
}

.panel-title {
    position: relative;
    top: 2px;
}

.full-table {
    width: 100%;
}

.drop-span {
    padding: 10px 15px;
    display: block;
    left: 45px;
    font-weight: bold;
    color: white;
    text-decoration: none !important;
}

.row {
    /* background: #dfe0e1; */

}

.page-header {
    color: #888a8c;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

.panel-info {
    border-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
}

.panel-primary > .panel-heading {
    color: white;
    text-shadow: 0 1px 1px #000;
    border-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    background: -moz-linear-gradient(top, #5d6167 0%, #393939 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d6167), color-stop(100%, #393939));
    background: -webkit-linear-gradient(top, #5d6167 0%, #393939 100%);
    background: -o-linear-gradient(top, #5d6167 0%, #393939 100%);
    background: -ms-linear-gradient(top, #5d6167 0%, #393939 100%);
}

.sidebar {
    background: #414243 url(../includes/images/sidebar-gradient.png) repeat-y top right;
}

.panel {
    border-radius: 5px !important;
    border-color: #eee;
}

.side-help {
    font-size: 12px;
    text-align: left;
    color: #000;
    padding: 10px 0 !important;
}

.img-sidehelp {
    margin-bottom: 1px;
    margin-right: 6px;
}

ul#css3menu1 ul {
    background-color: #424542;
}

ul#css3menu1 ul {

    display: none;
    position: absolute;
    left: 100%;
    top: -4px;
    padding: 0px 0px 5px 5px;
    width: 100%;
}

ul#css3menu1 li:hover>* {
    display: block;
}

ul#css3menu1 li {
    position: relative;
    right: 3px;
    display: block;
    white-space: nowrap;
    font-size: 0;
}

ul#css3menu1 li:hover {
    z-index: 1;
}

ul#css3menu1 a:active, ul#css3menu1 a:focus {
    outline-style: none;
}

ul#css3menu1 a {
    display: block;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    padding: 20px 15px;
}

ul#css3menu1 ul li {
    float: none;
    margin: 3px 0 0;
}

ul#css3menu1 ul a {
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFF;
    text-decoration: none;
}

ul#css3menu1 li:hover, ul#css3menu1 li a.pressed {
    background-color: #F1EB49;
}

ul#css3menu1 span {
    display: block;
    overflow: visible;
    background-image: url("arrowsub.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 14px;
}

ul#css3menu1 ul li:hover>a, ul#css3menu1 ul li a.pressed {
    color: #FFF;
    text-decoration: none;
}

ul#css3menu1 li.topfirst>a {
    border-width: 0;
}

ul#css3menu1 li.subfirst>a {
    border-width: 0;
}

ul#css3menu1 li {
    border-top: 1px solid #4b4c4d;
    border-top-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid #353637;
    border-bottom-color: rgba(0, 0, 0, 0.18);
    background: transparent;
    color: #888a8c;
    font-weight: normal;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    text-align: center !important;
    color: #636363 !important;

}

 table.table.leftAlign.table-user-information>thead>tr>th, table.table.leftAlign.table-user-information>tbody>tr>th, table.table.leftAlign.table-user-information>tfoot>tr>th, table.table.leftAlign.table-user-information>thead>tr>td, table.table.leftAlign.table-user-information>tbody>tr>td, table.table.leftAlign.table-user-information>tfoot>tr>td {
     text-align: left !important;
     color: #636363 !important;

 }

span.pagebanner {
    margin-left: 15px !important;
}

span.pagelinks {
    margin-left: 15px !important;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

@media (min-width: 1200px) {
    .container {
        width: 1060px;
    }
}

.container {
    padding-right: 20px;
    padding-left: 0px;
}

.box-header h3.title {
     margin: 0;
     line-height: 37px;
     color: #636363;
     font-size: 12px;
     text-transform: uppercase;
     padding-left: 9px;
     border-bottom: 1px solid #cdcdcd;
 }

.title-label {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    display: block;
    margin-bottom: 5px !important;

}

 .navbar-inverse, .side-nav {
     background-color: #323232 !important;
 }

 .navbar {
     min-height: 55px !important;
 }

 .side-nav {
     top: 55px !important;
 }

 .navbar-nav > li > a {
     line-height: 24px !important;
 }

 .navbar-inverse .navbar-nav > li > a {
     font-size: 12px !important;
     color: #dddddd !important;
 }

 .dropdown-menu > li > a {
     font-size: 12px;
 }

 .dropdown-menu > li > a {
     padding: 0px 20px !important;
 }

 h1, .h1 {
     font-size: 24px;

 }

 legend {
     font-size: 15.6px;
     font-weight: 600;
     margin-bottom: 0;
     display: block;
     width: 100%;
     padding: 0;
     margin-bottom: 18px;
     font-size: 18px;
     line-height: 36px;
     border: 0;
     border-bottom: 1px solid #e5e5e5;
 }

 .control-label {
     text-align: right;
     font-size: 12px;
     font-weight: normal;
     line-height: 18px;
     margin-top: 10px !important;
 }

 span.help-inline {
     color: #D8000C;
     background-color: #FFBABA;
     border-radius: 10px;
     font-family: Tahoma,Geneva,Arial,sans-serif;
     font-size: 11px;
     padding: 10px 10px 10px 10px;
     position: relative;
     top: 7px;
 }

 label.checkbox {
     font-size: 12px;
     font-weight: normal;
 }

 table.table.table-user-information.profile>tbody>tr>td.header {
     font-size: 12px;
     font-weight: normal;
     text-align: right !important;
 }

 table.table.table-user-information.profile>tbody>tr>td {
     font-size: 12px;
     font-weight: normal;
     text-align: left !important;
 }

 .btn-violet {
     color: #ffffff;
     background-color: #9C73D1;
     border-color: #7F6BE3;
 }

 .btn-violet:hover,
 .btn-violet:focus,
 .btn-violet:active,
 .btn-violet.active,
 .open .dropdown-toggle.btn-violet {
     color: #ffffff;
     background-color: #8951D1;
     border-color: #7F6BE3;
 }

 .btn-violet:active,
 .btn-violet.active,
 .open .dropdown-toggle.btn-violet {
     background-image: none;
 }

 .btn-violet.disabled,
 .btn-violet[disabled],
 fieldset[disabled] .btn-violet,
 .btn-violet.disabled:hover,
 .btn-violet[disabled]:hover,
 fieldset[disabled] .btn-violet:hover,
 .btn-violet.disabled:focus,
 .btn-violet[disabled]:focus,
 fieldset[disabled] .btn-violet:focus,
 .btn-violet.disabled:active,
 .btn-violet[disabled]:active,
 fieldset[disabled] .btn-violet:active,
 .btn-violet.disabled.active,
 .btn-violet[disabled].active,
 fieldset[disabled] .btn-violet.active {
     background-color: #9C73D1;
     border-color: #7F6BE3;
 }

 .btn-violet .badge {
     color: #9C73D1;
     background-color: #ffffff;
 }

 table.table.table-user-information.vendor-profile>tbody>tr>td.header {
    width: 201px;
    text-align: right !important;
 }

 table.table.table-user-information.vendor-profile>tbody>tr>td {
     text-align: left !important;
 }

 .asterisk_red:after {
     content:" *";
     color: #e32;
     position: relative;
     margin: 0px 0px 0px -0px;
     font-size: medium;
     padding: 0 0px 0 0; }

 .asterisk_special:after {
     content:"*";
     color: #e32;
     position: relative;
     margin: 0px 0px 0px -0px;
     font-size: medium;
     padding: 0 0px 0 0; }