 /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

.table-responsive-scroll {
    overflow-x: scroll !important;
}

.table-scroll {
    width: 1400px !important;
    margin: 0 auto !important;
}

body {
    background: #dfe0e1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #636363;
}

.drop-span:hover {
    color: black !important;
}

.sub-ho {
    color: white;
}

.sub-ho:hover {
    color: black !important;
}

.wwFormTable {
    /*margin: 150px auto;*/
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #555 !important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

/*.dropdown-menu {
    left: 0% !important;
}*/

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 35px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #F2F3E1; */
        /*border-right: 1px solid #eee; */
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

.activehome > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/home-b.png);
    background-position-x: 25px;
}

.activecustomer > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/customer-b.png);
    background-position-x: 25px;
}

.activebooking > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/booking-b.png);
    background-position-x: 25px;
}

.activevendor > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/truck-b.png);
    background-position-x: 25px;
}

.activeaccounts > a {
    color: #000 !important;
    background-color: #F1EB49;
    background-image: url(../includes/images/account-b.png);
    background-position-x: 25px;
}

.icon-home {
    background: transparent url(../includes/images/home.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-home:hover {
    background: transparent url(../includes/images/home-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-booking {
    background: transparent url(../includes/images/booking.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-booking:hover {
    background: transparent url(../includes/images/booking-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-operation {
    background: transparent url(../includes/images/operation.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-operation:hover {
    background: transparent url(../includes/images/operation-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-document {
    background: transparent url(../includes/images/document.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-document:hover {
    background: transparent url(../includes/images/document-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-vendor {
    background: transparent url(../includes/images/truck.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-vendor:hover {
    background: transparent url(../includes/images/truck-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-customer {
    background: transparent url(../includes/images/customer.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-customer:hover {
    background: transparent url(../includes/images/customer-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-report {
    background: transparent url(../includes/images/report.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-report:hover {
    background: transparent url(../includes/images/report-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-finance {
    background: transparent url(../includes/images/finance.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-finance:hover {
    background: transparent url(../includes/images/finance-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-help {
    background: transparent url(../includes/images/help.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-help:hover {
    background: transparent url(../includes/images/help-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-account {
    background: transparent url(../includes/images/account.png) no-repeat left;
    background-position-x: 25px;
    color: #fff !important;
}

.icon-account:hover {
    background: transparent url(../includes/images/account-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-user {
    background: transparent url(../includes/images/listofusers.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-user:hover {
    background: transparent url(../includes/images/listofusers-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-group {
    background: transparent url(../includes/images/groups.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-group:hover {
    background: transparent url(../includes/images/groups-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

.icon-permission {
    background: transparent url(../includes/images/permission.png) no-repeat left;
    background-position-x: 25px;
    color: #fff;
}

.icon-permission:hover {
    background: transparent url(../includes/images/permission-b.png) no-repeat left !important;
    background-position-x: 25px !important;
    color: #000 !important;
    background-color: #F1EB49 !important;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* CUSTOM CSS */
.icon-menu {
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 4px;
}

input#datepicker1, input#datepicker2, input#datepicker3, input#datepicker4 {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555;
}

.dropside-sub {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-right: 20px;
    padding-left: 40px;
    color: rgb(100, 100, 100);
    font-weight: bold;
    cursor: pointer;
}

.dropside-sub:hover {
    text-decoration: none;
    background-color: #eee;
}

.dropside {
    cursor: pointer;
}

.dropside:hover {
    text-decoration: none;
    background-color: #eee;
}

.title-insidebox {
    color: white;
    position: relative;
    font-size: 20px;
    top: 2px;
}

.box-dash {
    background-color: gray;
    width: 400px;
    height: 300px;
    padding: 20px 0 6px 0;
    border-radius: 6px;
}

.icon-font {
    position: relative;
    top: 2px;
    left: 40px;
    font-size: 13px;
}

.box-icon {
    margin-right: 6px;
}

.header-box {
    padding: 10px;
}

.content-box {
    padding: 10px;
}

.main-box {
    width: 68%;
    float: left;
    margin-right: 16px;
}

.sidebar-box {
    width: 28%;
    float: left;
    text-align: center;
}

.submenu-link {
    text-decoration: none;
}

.submenu-link:hover {
    text-decoration: none;
    color: white !important;
}

.title-inside {
    color: white;
}

.tb-font-black {
    vertical-align: middle !important;
    color: #545145 !important;
    padding-left: 10px !important;

}

button.ui-datepicker-trigger {
    padding: 8px 11px 5px 1px;
}

button.ui-datepicker-trigger img {
    position: relative;
    left: 5px;
}

#Booking-Validate_submit {
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

#Booking-Validate_submit:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e
}

.full-box {
    border: 1px background-color : gray;
    padding: 10px;
    border-radius: 6px;
    float: left;
    margin-right: 16px;
    width: 100%;
    text-align: center;
}

.circ-icon {
    background-color: gray;
    padding: 6px;
    margin-right: 6px;
    border-radius: 50%;
}

.icon-action-link {
    text-decoration: none !important;
}

.icon-action:hover {
    background-color: rgb(83, 82, 82);
}

.paginate-icon {
    margin-right: 2px;
    width: 70px;
    border-radius: 6px;
}

/*-------------*/
#customer-list.table > thead:nth-child(1) {
    background-color: #f5f5f5;
}

.panel-heading {
    overflow: hidden;
}

.panel-footer {
    overflow: hidden;
}

.pagination {
    margin: 0px !important;
}

.panel-title {
    position: relative;
    top: 2px;
}

.full-table {
    width: 100%;
}

.drop-span {
    padding: 10px 15px;
    display: block;
    left: 45px;
    font-weight: bold;
    color: white;
    text-decoration: none !important;
}

.row {
    /* background: #dfe0e1; */

}

.page-header {
    color: #888a8c;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

.panel-info {
    border-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
}

.panel-primary > .panel-heading {
    color: white;
    text-shadow: 0 1px 1px #000;
    border-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
    background: -moz-linear-gradient(top, #5d6167 0%, #393939 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d6167), color-stop(100%, #393939));
    background: -webkit-linear-gradient(top, #5d6167 0%, #393939 100%);
    background: -o-linear-gradient(top, #5d6167 0%, #393939 100%);
    background: -ms-linear-gradient(top, #5d6167 0%, #393939 100%);
}

/*.sidebar {
    background: #414243 url(../includes/images/sidebar-gradient.png) repeat-y top right;
}*/

.panel {
    border-radius: 5px !important;
    border-color: #eee;
}

.side-help {
    font-size: 12px;
    text-align: left;
    color: #000;
    padding: 10px 0 !important;
}

.img-sidehelp {
    margin-bottom: 1px;
    margin-right: 6px;
}

ul#css3menu1 ul {
    background-color: #424542;
}

ul#css3menu1 ul {

    display: none;
    position: absolute;
    left: 100%;
    top: -4px;
    padding: 0px 0px 5px 5px;
    width: 100%;
}

ul#css3menu1 li:hover>* {
    display: block;
}

ul#css3menu1 li {
    position: relative;
    right: 3px;
    display: block;
    white-space: nowrap;
    font-size: 0;
}

ul#css3menu1 li:hover {
    z-index: 1;
}

ul#css3menu1 a:active, ul#css3menu1 a:focus {
    outline-style: none;
}

ul#css3menu1 a {
    display: block;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    padding: 20px 15px;
}

ul#css3menu1 ul li {
    float: none;
    margin: 3px 0 0;
}

ul#css3menu1 ul a {
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFF;
    text-decoration: none;
}

ul#css3menu1 li:hover, ul#css3menu1 li a.pressed {
    background-color: #F1EB49;
}

ul#css3menu1 span {
    display: block;
    overflow: visible;
    background-image: url("arrowsub.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 14px;
}

ul#css3menu1 ul li:hover>a, ul#css3menu1 ul li a.pressed {
    color: #FFF;
    text-decoration: none;
}

ul#css3menu1 li.topfirst>a {
    border-width: 0;
}

ul#css3menu1 li.subfirst>a {
    border-width: 0;
}

ul#css3menu1 li {
    border-top: 1px solid #4b4c4d;
    border-top-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid #353637;
    border-bottom-color: rgba(0, 0, 0, 0.18);
    background: transparent;
    color: #888a8c;
    font-weight: normal;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    text-align: center !important;
    color: #636363 !important;

}

 table.table.leftAlign.table-user-information>thead>tr>th, table.table.leftAlign.table-user-information>tbody>tr>th, table.table.leftAlign.table-user-information>tfoot>tr>th, table.table.leftAlign.table-user-information>thead>tr>td, table.table.leftAlign.table-user-information>tbody>tr>td, table.table.leftAlign.table-user-information>tfoot>tr>td {
     text-align: left !important;
     color: #636363 !important;

 }

span.pagebanner {
    margin-left: 15px !important;
}

span.pagelinks {
    margin-left: 15px !important;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: 1060px;*/
    /*}*/
/*}*/

.container {
    padding-right: 20px;
    padding-left: 0px;
}

.box-header h3.title {
     margin: 0;
     line-height: 37px;
     color: #636363;
     font-size: 12px;
     text-transform: uppercase;
     padding-left: 9px;
     border-bottom: 1px solid #cdcdcd;
 }

.title-label {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    display: block;
    margin-bottom: 5px !important;

}

 .navbar-inverse, .side-nav {
     background-color: #323232 !important;
 }

 .navbar {
     min-height: 55px !important;
 }

 .side-nav {
     top: 55px !important;
 }

 .navbar-nav > li > a {
     line-height: 24px !important;
 }

 .navbar-inverse .navbar-nav > li > a {
     font-size: 12px !important;
     color: #dddddd !important;
 }

 .dropdown-menu > li > a {
     font-size: 12px;
 }

 .dropdown-menu > li > a {
     padding: 3.2px 20px !important;
 }

 h1, .h1 {
     font-size: 24px;

 }

 legend {
     font-size: 15.6px;
     font-weight: 600;
     margin-bottom: 0;
     display: block;
     width: 100%;
     padding: 0;
     margin-bottom: 18px;
     font-size: 18px;
     line-height: 36px;
     border: 0;
     border-bottom: 1px solid #e5e5e5;
 }

 .control-label {
     text-align: right;
     font-size: 12px;
     font-weight: normal;
     line-height: 18px;
     margin-top: 10px !important;
 }

 span.help-inline {
     color: #D8000C;
     background-color: #FFBABA;
     border-radius: 10px;
     font-family: Tahoma,Geneva,Arial,sans-serif;
     font-size: 11px;
     padding: 10px 10px 10px 10px;
     position: relative;
     top: 7px;
 }

 label.checkbox {
     font-size: 12px;
     font-weight: normal;
 }

 table.table.table-user-information.profile>tbody>tr>td.header {
     font-size: 12px;
     font-weight: normal;
     text-align: right !important;
 }

 table.table.table-user-information.profile>tbody>tr>td {
     font-size: 12px;
     font-weight: normal;
     text-align: left !important;
 }

 .btn-violet {
     color: #ffffff;
     background-color: #9C73D1;
     border-color: #7F6BE3;
 }

 .btn-violet:hover,
 .btn-violet:focus,
 .btn-violet:active,
 .btn-violet.active,
 .open .dropdown-toggle.btn-violet {
     color: #ffffff;
     background-color: #8951D1;
     border-color: #7F6BE3;
 }

 .btn-violet:active,
 .btn-violet.active,
 .open .dropdown-toggle.btn-violet {
     background-image: none;
 }

 .btn-violet.disabled,
 .btn-violet[disabled],
 fieldset[disabled] .btn-violet,
 .btn-violet.disabled:hover,
 .btn-violet[disabled]:hover,
 fieldset[disabled] .btn-violet:hover,
 .btn-violet.disabled:focus,
 .btn-violet[disabled]:focus,
 fieldset[disabled] .btn-violet:focus,
 .btn-violet.disabled:active,
 .btn-violet[disabled]:active,
 fieldset[disabled] .btn-violet:active,
 .btn-violet.disabled.active,
 .btn-violet[disabled].active,
 fieldset[disabled] .btn-violet.active {
     background-color: #9C73D1;
     border-color: #7F6BE3;
 }

 .btn-violet .badge {
     color: #9C73D1;
     background-color: #ffffff;
 }

 table.table.table-user-information.vendor-profile>tbody>tr>td.header {
    width: 201px;
    text-align: right !important;
 }

 table.table.table-user-information.vendor-profile>tbody>tr>td {
     text-align: left !important;
 }

 .asterisk_red:after {
     content:" *";
     color: #e32;
     position: relative;
     margin: 0px 0px 0px -0px;
     font-size: medium;
     padding: 0 0px 0 0; }

 .asterisk_special:after {
     content:"*";
     color: #e32;
     position: relative;
     margin: 0px 0px 0px -0px;
     font-size: medium;
     padding: 0 0px 0 0; }

.headcol{
    position:absolute;
}

.huge-dashboard{
    font-size: 40px;
}

 .bs-wizard {margin-top: 40px;}

 /*Form Wizard*/
 .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
 .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
 .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
 .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
 .bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
 .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B2E0FF; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
 .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #66C2FF; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
 .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
 .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #B2E0FF;}
 .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
 .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
 .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
 .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
 .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
 .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 3;}
 .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
 .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
 .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

/*Style for scrollable table*/
/*If it does not work paste this code to each tables*/
/* html,body{width:100%;height:100%;}
 div.horizontal{display:block;width:100%;height:100%;overflow:hidden;position:static}
 div.scroller{display:block;width:100%;height:100%;overflow:hidden;position:static}
 .table{display:table;width:150%;height:100%}
 .table > section{width:3600px;height:100%;display:table-cell;background:#e3e3e3;vertical-align:middle;text-align:center}
 .TableContainer{overflow:scroll;overflow-x: overlay;}
 article{width:800px;height:400px;display:table-cell;background:#e3e3e3;vertical-align:middle;text-align:center}
 article:nth-child(2n+2){background:#d1d1d1}
 .table-bordered > thead > tr > th{padding: 10px;}*/

 .notification_bubble {
     position:absolute;
     top: -8px;
     right:-6px;
     padding-right:2px;
     background-color:red;
     color:white;
     font-weight:bold;
     font-size:0.80em;

     border-radius:2px;
     box-shadow:1px 1px 1px gray;
 }

 table.table.leftAlign.table-user-information tbody:nth-child(2) tr td:nth-child(1){font-weight: bold;}
 table.table.leftAlign.table-user-information tbody:nth-child(1) tr td:nth-child(1){font-weight: bold;}


.alert-errors {
color: #ff3232;
background-color:#ffb2b2;
border-color: #ffb2b2;
}

.alert-errors hr {
border-top-color: #ff0000;
}

.alert-errors .alert-link {
color: #ff0000;
}

.zeroPadding {
 padding: 0px;
}

span.pagelinks li{
 display: inline;
 margin: 5px;
 list-style-type: circle !important;}
span.pagination li{
 display: inline;
 margin: 5px;
 list-style-type: circle !important;}

.padding-0-l {
    padding-left: 0px;
    text-align: center;
}

.padding-0-r {
    padding-right: 0px;
    text-align: center;
}

.padding-0-lr{
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.padding-10-lr{
 padding-right: 0.5em;
 padding-left: 0.5em;
}

.center-text {
    text-align: center;
}

.padding-0-bot {
    padding-bottom: 0px;
}

.padding-10-top {
    padding-top : 0.6em;
}

.padding-10-bot {
    padding-bottom: 0.6em;
}

.margin-10-bot {
    margin-bottom: 0.8em;
}

.menu-style-a {
    border-top: 1px solid #4b4c4d;
    border-top-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid #353637;
    border-bottom-color: rgba(0, 0, 0, 0.18);
}
.error-handler-msg{
    font-size: 40px;
    text-align: center;
    margin-bottom: -100px;
}

.table-action-icons:hover {
    /*font-size: 180%; !important;
    margin-top: -7px; !important;
    margin-bottom: -7px; !important;
    margin-right: -4px; !important;
    margin-left: -4px; !important;*/
}

.btn {
    /*border-radius: 0.0em; !important;*/
    /*padding-top: 0.2em;*/
    /*padding-bottom: 0.2em;*/
    /*box-shadow: 2px 2px 2px #888888;*/
}

#footer-ver{clear: both !important;
    background-color: #2f2f2f !important;
    width: 131.5%;
    margin-left: -155px;
    float: left;
    margin-top: 157px;
}
.footerwrap-ver{width: 1000px !important; margin: 0 auto !important; text-align: left !important; box-sizing: content-box !important;}
#copyright-ver{clear: both !important; font-size: 11px !important; padding-top: 10px !important; font-weight: 400 !important; text-align: left !important; color: #777;}
#svnrev{text-align: left !important;  font-size: 10px !important; margin-bottom: 10px !important; color: #ccc;}


 #footer-ver2{clear: both !important;
     background-color: #2f2f2f !important;
     width: 131.5%;
     margin-top: 169px;
     margin-left: 15px;
     position: relative;
     top: 70px;
 }

 .footerwrap-ver2{width: 1000px !important; margin: 0 auto !important; text-align: left !important; box-sizing: content-box !important;}
 #copyright-ver2{clear: both !important; font-size: 11px !important; padding-top: 10px !important; font-weight: 400 !important; text-align: left !important; color: #777;}
 #svnrev2{text-align: left !important;  font-size: 10px !important; margin-bottom: 10px !important; color: #ccc;}

 td.comment-wrapper{white-space: pre !important;}
 td#comment-wrapper{white-space: pre !important;}

/*TABLE RESPONSIVENESS*/
 @media only screen and (max-width: 800px) {

     /* Force table to not be like tables anymore */
     #no-more-tables table,
     #no-more-tables thead,
     #no-more-tables tbody,
     #no-more-tables th,
     #no-more-tables td,
     #no-more-tables tr {
         display: block;
     }

     /* Hide table headers (but not display: none;, for accessibility) */
     #no-more-tables thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
     }

     #no-more-tables tr { border: 1px solid #ccc; }

     #no-more-tables td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50%;
         white-space: normal;
         text-align:left;
     }

     #no-more-tables td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
         text-align:left;
         font-weight: bold;
     }

     /*
     Label the data
     */
     #no-more-tables td:before { content: attr(scope); }
 }

 td.permissionsAlign{
    position: relative;
     text-align: left !important;
     padding: 5px;
     direction: rtl;
 }

 .overlay {
     /*position:absolute;*/
     position:fixed;
     top:0;
     left:0;
     right:0;
     bottom:0;
     background-color:rgba(0, 0, 0, 0.85);
     z-index:9999;
     color:white;
 }